out
node_modules
.vscode-test/
*.vsix
coverage/
.idea
out
dist
src/**/nodeDebugLocation.json

# Compiled files
src/**/*.js
!src/api/appcenter/generated/**/*.js
test/**/*.js
integrationTest/*.js
**/*.js.map