.vscode/**
.vscode-test/**
node_modules
dist/**
test/**
integrationTest/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.eslintrc.js
**/*.map
**/*.ts
**/*.yaml
**/*.sh